<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.test.project.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterUserServlet</servlet-name>
		<servlet-class>com.test.project.RegisterUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterUserServlet</servlet-name>
		<url-pattern>/registerUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegisterHotelServlet</servlet-name>
		<servlet-class>com.test.project.RegisterHotelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterHotelServlet</servlet-name>
		<url-pattern>/registerHotel</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RateHotel</servlet-name>
		<servlet-class>com.test.project.RateHotelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RateHotel</servlet-name>
		<url-pattern>/rateHotel</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.test.project.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.test.project.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>VerifyEmail</servlet-name>
		<servlet-class>com.test.project.VerifyEmailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerifyEmail</servlet-name>
		<url-pattern>/verifyEmail</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
